@model IssueTracker.ViewModels.IssueView

<div class="card">
    <div class="card-header">
        <h2>
            @Model.Title
        </h2>
    </div>
    <div class="card-body">
        <h4 class="d-inline">Status: </h4> <form asp-controller="Issue" asp-action="ChangeStatus" class="d-inline">
            <select asp-for="Status">
                <option value="Open">Open</option>
                <option value="Closed">Closed</option>
                <option value="Rejected">Rejected</option>
            </select>
            <input type="hidden" asp-for="Id" value="@Model.Id" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h4>Type: @Model.Type</h4>
        <h4>Creator: @Model.Creator.UserName</h4>
        @if (Model.Assignee != null) {
            <h4>Assignee: @Model.Assignee.UserName | <a asp-controller="Issue" asp-action="Assign" asp-route-id="@Model.Id" class="btn btn-primary">Assign</a></h4>

        } else {
            <h4>Assignee: <a asp-controller="Issue" asp-action="Assign" asp-route-id="@Model.Id" class="btn btn-primary">Assign</a></h4>
        }
        <h4>Description:</h4>
        <p>@Model.Description</p>
        <div>
            @foreach (var message in Model.Messages) {
                <div class="card">
                    <div class="card-body">
                        <p>@message.Text</p>
                    </div>
                    <div class="card-footer">
                        <p>@message.Creator.UserName | @message.CreateDate</p>
                    </div>
                </div>    
            }
        </div>
        <div class="card">
            <div class="card-header">
                <h4>Create new Message</h4>
            </div>
            <div class="card-body">
                <form asp-controller="Issue" asp-action="CreateMessage" method="post">
                    <div class="form-group">
                        <textarea type="text" name="text" class="form-control" style="min-width: 100%"></textarea>
                    </div>
                    <input type="hidden" name="issueId" value="@Model.Id" />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>