@model IssueTracker.ViewModels.IssueViewModel

@{
    <div class="card">
        <div class="card-body">
            <a class="btn-primary btn" asp-controller="Issue" asp-action="Create" asp-route-projectID=@Model.ProjectID>Create new Issue</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Titel
                        </th>
                        <th>
                            Typ
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var issue in Model._issues) {
                        <tr>
                            <td>
                                <a asp-controller="Issue" asp-action="Details" asp-route-id="@issue.Id">@issue.Title</a>
                            </td>
                            <td>
                                @issue.Type
                            </td>
                            <td>
                                @issue.Status
                            </td>
                            <td>
                                <a asp-controller="Issue" asp-action="Delete" asp-route-id="@issue.Id" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    
}
